div(style='padding-top: 20px')
  button(md-raised-button,type='button',(click)='NewUser_Clicked()') New
  button(md-raised-button,type='button',(click)='DelUser_Clicked()',[disabled]='btnDeleteDisabled') Delete
  button(md-raised-button,type='button',(click)='EditUser_Clicked()',[disabled]='btnEditDisabled') Edit
  div.loading(*ngIf='showLoading')
    md-spinner.loading

div.users-container
  div.users-grid
    div.users-header
      div.user-select &nbsp;
      div.user-name Name
      div.user-email Email
      div.user-tchrcode Code
    div.user(*ngFor='let user of users; let i=index')
      div.user-select
        md-checkbox((click)='UserSelected_Clicked(i)')
      div.user-name {{user.firstName}} {{user.lastName}}
      div.user-email {{user.email}}
      div.user-tchrcode {{user.tchrId}}